.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #796936 100%);
}
.Quiz h1 {
    color: #FFF;
}
.QuizWrapper {
    width: 600px;
}