.AnswerItem {
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(255,255,255, .2);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.AnswerItem.success {
    background: rgba(161, 240, 69, .7);
}
.AnswerItem.error {
    background: rgba(240, 87, 108, .7);
}